@import 'tailwindcss';

@theme {
	--color-primary: #1a1a1a;
	--color-secondary: #703bf7;
	--text-xs: 11px;
	--container-laptop: 1250px;
}

.active {
	@apply bg-black text-white border border-white;
}

.disable {
	@apply opacity-40;
}
