@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@theme {
	--color-primary: #1a1a1a;
	--color-secondary: #703bf7;
	--text-xs: 11px;
	--text-movil: 12.5px;
	--container-laptop: 1250px;
}

.active {
	@apply bg-secondary text-white font-bold;
}

.disable {
	@apply opacity-40;
}

.container-select:has(.select-options:focus) {
	@apply border-secondary;
}

.activeSelect {
	@apply bg-secondary text-white;
}
