---
const CARDS_SERVICES = [
	{ title: 'Find Your Dream Home', icono: '/src/assets/Home/CardS_1.png' },
	{ title: 'Unlock Property Value', icono: '/src/assets/Home/CardS_2.png' },
	{
		title: 'Effortless Property Management',
		icono: '/src/assets/Home/CardS_3.png',
	},
	{
		title: 'Smart Investments, Informed Decisions',
		icono: '/src/assets/Home/CardS_4.png',
	},
];
---

<section class="grid grid-cols-2 gap-3 xl:flex xl:flex-wrap px-4">
	{
		CARDS_SERVICES.map(({ title, icono }, i) => (
			<a
				data-aos="fade-in"
				data-aos-delay={`${i * 200}`}
				href="/"
				class="xl:flex-1 flex flex-col items-center gap-3 bg-primary px-3 py-10 my-3 rounded-2xl relative border border-white/15 hover:border-secondary transition-colors"
			>
				<div class="absolute top-2 right-2">
					<img class="size-8" src="/src/assets/Home/Enlace.png" alt="Icono de servicio" />
				</div>
				<img class="w-[60px] h-[60px]" src={icono} alt="Icono de servicio" />
				<p class="text-white/50 font-semibold text-center">{title}</p>
			</a>
		))
	}
</section>
