---
import BotonPrimary from '../../components/Layout/BotonPrimary.astro';
import SliderProperties from '../../components/Home/React/SliderProperties.tsx';
---

<section class="flex items-center justify-center bg-black overflow-hidden">
	<div class="w-laptop py-16 xl:px-0 px-4">
		<header class="flex xl:flex-row flex-col w-full gap-5">
			<div data-aos="fade-right" data-aos-delay="100" class="flex-2 flex flex-col gap-3">
				<h2 class="text-4xl font-semibold">
					<img src="/src/assets/Home/IconEstrellas.png" alt="Icono de estrellas" /><br />
					Featured Properties
				</h2>
				<p class="text-white/50">
					Explore our handpicked selection of featured properties. Each listing offers a glimpse into exceptional homes and investments available
					through Estatein. Click "View Details" for more information.
				</p>
			</div>

			<div data-aos="fade-left" data-aos-delay="300" class="flex-1 flex items-end justify-end">
				<BotonPrimary texto="View All Properties" href="/" />
			</div>
		</header>

		<div class="flex gap-2">
			<SliderProperties client:load />
		</div>
	</div>
</section>
