---
import BotonPrimary from '../../components/Home/BotonPrimary.astro';
import SliderQuestions from '../../components/Home/React/SliderQuestions.tsx';
---

<section class="py-16 px-14 bg-black">
	<header class="flex w-full gap-5">
		<div class="flex-2 flex flex-col gap-3">
			<h2 class="text-4xl font-semibold">
				<img src="/src/assets/Home/IconEstrellas.png" alt="Icono de estrellas" /><br />
				Frequently Asked Questions
			</h2>
			<p class="text-white/50">
				Find answers to common questions about Estatein's services, property listings, and the real estate process. We're here to provide clarity and
				assist you every step of the way.
			</p>
		</div>

		<div class="flex-1 flex items-end justify-end">
			<BotonPrimary texto="View All FAQ’s" href="/" />
		</div>
	</header>

	<div class="flex flex-col gap-4">
		<div class="flex gap-8">
			<SliderQuestions client:load />
		</div>
	</div>
</section>
