<footer class="bg-black flex justify-center py-16 xl:px-0 px-4">
	<div class="w-laptop grid grid-cols-2 xl:grid-cols-7 gap-6 xl:mx-0 mx-4">
		<!-- Primer bloque: Logo + Input (col-span-2 en mobile y desktop) -->
		<div class="col-span-2 flex flex-col gap-5 justify-center items-center">
			<div class="flex gap-3 items-center">
				<img src="/src/assets/Logo.svg" alt="Logo" class="size-10" />
				<h2 class="text-white text-2xl font-semibold">Estatein</h2>
			</div>

			<label for="correo" class="flex items-center relative xl:max-w-md w-3/4">
				<input
					type="email"
					name="correo"
					id="correo"
					placeholder="Enter your email"
					class="w-full rounded-xl border border-white/25 p-3 text-white placeholder-white/50 focus:border-white focus:outline-none"
				/>
				<button class="absolute top-1/2 -translate-y-1/2 right-3">
					<img src="/src/assets/Home/IconEnviar.png" alt="Icono para enviar" />
				</button>
			</label>
		</div>

		<div class="flex flex-col gap-3 md:items-center lg:items-start">
			<h3 class="text-white/50">Home</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Hero Section</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Features</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Properties</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Testimonials</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">FAQ's</a>
		</div>

		<div class="flex flex-col gap-3 md:items-center lg:items-start">
			<h3 class="text-white/50">About Us</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Our Story</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Our Works</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">How It Works</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Our Team</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Our Clients</a>
		</div>

		<div class="flex flex-col gap-3 md:items-center lg:items-start">
			<h3 class="text-white/50">Properties</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Portfolio</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Categories</a>
		</div>

		<div class="flex row-span-2 flex-col gap-3 md:items-center lg:items-start">
			<h3 class="text-white/50">Services</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Valuation Mastery</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Strategic Marketing</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Negotiation Wizardry</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Closing Success</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Property Management</a>
		</div>

		<div class="flex flex-col gap-3 md:items-center lg:items-start">
			<h3 class="text-white/50">Contact Us</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Contact Form</a>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Our Offices</a>
		</div>
	</div>
</footer>

<div class="flex items-center justify-center p-6">
	<div class="w-laptop flex xl:flex-row flex-col items-center justify-between gap-4">
		<div class="flex xl:flex-row flex-col gap-3 items-center xl:order-1 order-2">
			<h3>@2023 Estatein. All Rights Reserved.</h3>
			<a href="/" class="hover:text-white/50 hover:underline transition-all">Terms & Conditions</a>
		</div>

		<div class="flex gap-3 xl:order-2 order-1">
			<a
				class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
				href="/"><img src="/src/assets/IconFacebook.png" alt="Icono para facebook" /></a
			>
			<a
				class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
				href="/"><img src="/src/assets/IconLinkedin.png" alt="Icono para linkedin" /></a
			>
			<a
				class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
				href="/"><img src="/src/assets/IconTwitter.png" alt="Icono para twitter" /></a
			>
			<a
				class="size-10 rounded-full bg-black flex items-center justify-center hover:border-secondary transition-colors hover:shadow-secondary hover:shadow-lg border border-white/50"
				href="/"><img src="/src/assets/IconYouTube.png" alt="Icono para youtube" /></a
			>
		</div>
	</div>
</div>
